<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<style>
body {
	padding: 5%;
}
ul {
	list-style-type: none;
}
.content {
	border: 1px solid rgb(68,174,206);
	padding: 5%;
}
h1 {
	text-decoration: underline;
	padding-bottom: 2.5%;
	display: inline-block;
}
#login {
	position: relative;
	float: right;
}
input[type="image"] {
	margin: 2.5%;
}
.line {
	border-bottom: 1px solid rgb(68,174,206);
}

</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Artikel</title>
	</head>
	<body>
			<div class="content">
	<h1>Bestellung: <webobject name = "artikelname"></webobject></h1>

	<br>
	<webobject name="artikelicon" />
	<br>

	<h2>Gewünschte Inhalte</h2>

	<webobject name = "inhaltform">


		<dl>
			<dd><webobject name = "schere" /> Schere</dd>
			<dd><webobject name = "bleistift" /> Bleistift</dd>
			<dd><webobject name = "feder" /> Feder</dd>
			<dd><webobject name = "lineal" /> Lineal</dd>
			<dd><webobject name = "marker" /> Marker</dd>
			<dd><webobject name = "radiergummi" /> Radiergummi</dd>
			<dd><webobject name = "spitzer" /> Spitzer</dd>
			<dd><webobject name = "zirkel" /> Zirkel</dd>
		</dl>

		<webobject name="inhaltlist">
			<ul>
				<li><webobject name = "checkinhalt" /><webobject name = "inhaltbezeichnung" /></li>
			</ul>
		</webobject>

		<webobject name = "submitbutton">Bestätigen</webobject><br>
		<webobject name = "backbutton">Abbrechen</webobject>

	</webobject>
</div>
	</body>
</html>
