<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Artikel</title>
	</head>
	<body>
	<h1>Bestellung: <webobject name = "artikelname"></webobject></h1>
	
	<br>
	Bild
	<br>
	
	<h2>Gewünschte Inhalte</h2>
	
	<webobject name = "inhaltform">

		
		<dl>
			<dd><webobject name = "schere" /> Schere</dd>
			<dd><webobject name = "bleistift" /> Bleistift</dd>
			<dd><webobject name = "feder" /> Feder</dd>
			<dd><webobject name = "lineal" /> Lineal</dd>
			<dd><webobject name = "marker" /> Marker</dd>
			<dd><webobject name = "radiergummi" /> Radiergummi</dd>
			<dd><webobject name = "spitzer" /> Spitzer</dd>
			<dd><webobject name = "zirkel" /> Zirkel</dd>
		</dl>
		
		<webobject name="inhaltlist">
			<ul>
				<li><webobject name = "checkinhalt" /><webobject name = "inhaltbezeichnung" /></li>
			</ul>
		</webobject>
		
		<webobject name = "submitbutton"></webobject><br>

	</webobject>
	</body>
</html>