<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Besten Dank</title>
		<!--<link rel="stylesheet" type="text/css" href="../WebServerResources/dankesseite.css">-->
	</head>
	<body>
	<webobject name = "loginForm">
		Benutzername:<br>
		<webobject name = "username" /><br>
		Passwort:<br>
		<webobject name = "password" /><br>
		<webobject name = "submitLogin" /><br>
		<webobject name = "errorText" />
		
	</webobject>
	<webobject name="backbutton">Zurück</webobject>
	
	
	</body>
</html>