<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>HappyWriter</title>
	</head>
	<body>
	<h1>HappyWriter</h1>
	<webobject name="loginLink">Login</webobject><br>
	<webobject name="artikellist">
	<ul>
		<li><webobject name = "detaillink"><webobject name = "bezeichnung"/></webobject></li>
	</ul>
	</webobject>
	
	<div style="border-top:1px solid grey;display:block;"></div>
	<br>
	<webobject name = "checkoutbutton">Check Out</webobject><br>
	<br>
	<br>
	Ihre bestellung:<br>
	<webobject name = "bestellungsliste">
	
	<webobject name = "bestellungartikelname" />&#160;:&#160;<webobject name = "bestellungartikelpreis" /><br>
	</webobject>
	<br>
	
	
	</body>
</html>
