<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Artikel</title>
	</head>
	<body>
	<h1>Bitte füllen Sie Ihre Angaben ein</h1>
	
	<webobject name = "kundenform">
		
		<label for="name">Name</label><br>
		<webobject name = "name"></webobject><br>

		<label for="vorname">Vorname</label><br>
		<webobject name = "vorname"></webobject><br>
		
		<label for="strasse">Strasse</label><br>
		<webobject name = "strasse"></webobject><br>
		
		<label for="plz">PLZ</label><br>
		<webobject name = "plz"></webobject><br>

		<label for="ort">Ort</label><br>
		<webobject name = "ort"></webobject><br>
		
		<label for="telefon">Telefon</label><br>
		<webobject name = "telefon"></webobject><br>

		<label for="bermerkungen">Bemerkungen</label><br>
		<webobject name = "bemerkungen"></webobject><br>

		<webobject name = "submitbutton"></webobject><br>
		<webobject name = "backbutton"></webobject><br>

	</webobject>


	</body>
</html>